.about{
    background: rgb(0, 0, 0);
    background: linear-gradient(-260deg, rgba(0, 0, 0, 1) 0%, rgb(8, 54, 66) 100%);
}

.home2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


    >img {
        width: 30%;
        animation: imgUp 0.7s linear infinite alternate;
        padding: 10px;
    }

    >div {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        height: 100vh;

        p {
            color: white;
            letter-spacing: 2px;
            word-spacing: 5px;
            font: 200 1.2rem ;
            text-align: center;
            padding-bottom: 20px;
        }

        h1 {
            color: white;
            letter-spacing: 2px;
            word-spacing: 5px;
            font: 500 2.5rem;
            padding-bottom: 10px;
        }
    }
}


@keyframes imgUp {
    to {
        transform: translateY(-10px);
    }
}
