$color1: rgb(5, 19, 23);
$color2: #286f6c;
$color2_1: #174340;
$color3: #74a3e6c9;
$color3_light: #54baed;
$color3_dark: rgb(30, 155, 186);
$color3_1: #ad4126;
$color4: rgb(0, 0, 0);
$color5: #292b46;
$color6: #ffffff;
$color6_1: #ffffff98;
$color6_2: #16161622;

.con{
    background: rgb(0, 0, 0);
    background: linear-gradient(-260deg, rgba(0, 0, 0, 1) 0%, rgb(8, 54, 66) 100%);
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding-bottom: 100px;
}

.box {
    position: relative;
    width: 40vw;
    min-height: 80vh;
    background-color: rgb(30, 155, 186);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 10px 10px 300px -11px rgb(30, 155, 186);
}

.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg, transparent, #000000, #000000);
    width: 380px;
    height: 420px;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;


}

.box::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg, transparent, #000000, #000000);
    width: 380px;
    height: 420px;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form {
    position: absolute;
    align-items: center;
    inset: 4px;
    border-radius: 8px;
    background: $color1;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;

}

.form h2 {
    color: $color3_dark;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.08em;
}

.inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 1em;
    letter-spacing: 0.1em;
    z-index: 10;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;

}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    color: $color3_dark;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0.75em;

}

.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: $color3_dark;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;

}

.inputBox input:valid ~ i ,
.inputBox input:focus ~ i {
    height: 44px;
    color: chartreuse;
}

input[type="submit"]{
    border: none;
    outline: none;
    background: $color3_dark;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10%;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

