nav {
    border-bottom: 1px solid white;
    width: 100%;
    height: 100px;
    background-color: #083642;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8vmax;
    position: sticky;
    top: 0%;
    z-index: 60;

    >h2 {
        font-size: 1.8rem;
    }

    >div {
        display: flex;
        align-items: center;
        gap: 3rem;

        a {
            color: white;
            font-weight: 600;
            transition: all 0.3s;
            letter-spacing: 0.6px;

            &:hover {
                color: rgb(157, 213, 255);
                scale: 1.2;
            }
        }
    }

    >a>button {
        border: 1px solid rgb(0, 0, 0);
        padding: 0.5rem 2rem;
        background-color: #0f5263;
        cursor: pointer;
        color: white;
        letter-spacing: 1px;
        font-weight: 500;
        border-radius: 10px;
        transition: all 0.3s;

        &:hover {
            background-color: #15748c;
            color: black;
        }
    }
}