@import "Colors.scss";

.home3{
    background: rgb(0, 0, 0);
        background: linear-gradient(130deg, rgba(0, 0, 0, 1) 0%, rgb(8, 54, 66) 100%);
}

  
    #home {
        background: rgb(0, 0, 0);
        background: linear-gradient(130deg, rgba(0, 0, 0, 1) 0%, rgb(8, 54, 66) 100%);
        color: white;
        width: 100%;
        height: 100%;
        padding: 40px;
        display: flex;
      
        >section {
          width: 100%;
      
          &:first-of-type {
            padding-left: $p;
      
      
      
            >div {
      
              height: 100%;
              padding-top: 6rem;
      
              >h1 {
                font: 900 4rem $text1;
              }
      
              .typewriterpara {
                margin: 20px 0;
                height: 20px;
                letter-spacing: 5px;
              }
      
              .btn {
                padding: 10px 30px;
                background-color: $color3;
                color: $color6;
                font-weight: bold;
                border-radius: 1%;
                transition: 0.4s;
                box-shadow: 5px 5px 20px $color5;
      
      
                &:hover {
                  background-color: $color3_dark;
                  scale: 1.05;
                  cursor: pointer;
                }
              }
      
      
      
              >div {
                display: flex;
                margin: 5rem 0;
                width: 70%;
                gap: 4rem;
                align-items: center;
      
                >a {
                  &:first-of-type {
                    background-color: $color3;
                    color: $color1;
                    padding: 1rem 2.5rem;
                    transition: all 0.3s;
      
                    &:hover {
                      background-color: $color3_1;
                    }
                  }
      
                  &:last-of-type {
                    font: 600 1.2rem $text2;
                    color: white;
                    display: flex;
                    align-items: center;
                  }
                }
              }
      
              aside {
                display: flex;
                justify-content: space-between;
                width: 70%;
              }
      
              article {
                margin: 2rem 0;
                width: 10rem;
                color: white;
                position: relative;
      
                &::after {
                  content: "";
                  background-color: $color4;
                  width: 100%;
                  height: 5rem;
                  border-radius: 50px;
                  position: absolute;
                  top: 20%;
                  left: 20%;
                  z-index: -1;
                }
      
                >p {
                  font: 900 2rem $text1;
                }
      
                >span {
                  font: 500 1rem $text2;
                }
              }
      
              article[data-special] {
                width: 16rem;
              }
            }
          }
      
          &:last-of-type {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            overflow-x: hidden;
      
            &::after {
              content: "";
              width: 40vmax;
              height: 40vmax;
              background-color: $color3;
              border: 5px solid white;
              box-shadow: inset 0 0 10px;
              position: absolute;
              z-index: -1;
              border-radius: 50%;
            }
      
            >img {
              width: 40vmax;
              object-fit: contain;
              height: 40vmax;
              border-radius: 50%;
              border: 5px solid white;
              box-shadow: 0 0 10px black;
            }
          }
        }
      }